.AppContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  gap: 4px;
}

.GendlinFocusingContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.EphemeralRamblingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EphemeralRamblingTextArea {
  width: 90%;
  min-height: 50rem;
}

.FocusEntries {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FocusEntryContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  padding: 4px;
  gap: 2px;
}

.FocusEntryChunkText {
  padding: 8px;
  font-weight: bold;
}

.FocusEntryTimer {
  font-weight: bold;
  font-size: 1.5rem;
  width: 6rem;
}

.FocusEntryText {
  width: 20rem;
  min-height: 2rem;
}

.AddEntryButton {
  font-size: 4rem;
  line-height: 2rem;
  width: 5rem;
}
